<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Costelas E-Commerce Template">
    <meta name="author" content="costelasleontin">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/style.css" />
</head>
<body>
    <div>
        <script type="text/javascript">
            $(document).ready(function () {
                $("input.input-validation-error").addClass("has-danger");
            });
        </script>
        @RenderBody()
    </div>
</body>
</html>
